---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: availabilityzones.halcyonproj.dev
spec:
  group: halcyonproj.dev
  names:
    kind: AvailabilityZone
    listKind: AvailabilityZoneList
    plural: availabilityzones
    shortNames:
    - az
    singular: availabilityzone
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.location.regionName
      name: Region
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: AvailabilityZone is the Schema for the availabilityzones API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AvailabilityZoneSpec defines the desired state of AvailabilityZone
            properties:
              location:
                properties:
                  regionName:
                    type: string
                required:
                - regionName
                type: object
            required:
            - location
            type: object
          status:
            description: AvailabilityZoneStatus defines the observed state of AvailabilityZone
            properties:
              conditions:
                items:
                  description: AvailabilityZoneCondition defines conditions of the
                    AvailabilityZone
                  properties:
                    lastHeartbeatTime:
                      type: string
                    lastTransitionTime:
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - lastHeartbeatTime
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
            required:
            - conditions
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
