---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: physicalinterfaces.halcyonproj.dev
spec:
  group: halcyonproj.dev
  names:
    kind: PhysicalInterface
    listKind: PhysicalInterfaceList
    plural: physicalinterfaces
    singular: physicalinterface
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.ipAddress
      name: IP Address
      type: string
    - jsonPath: .status.macAddress
      name: MAC Address
      type: string
    - jsonPath: .metadata.labels.topology\.halcyonproj\.dev/compute
      name: Compute
      type: string
    - jsonPath: .metadata.labels.topology\.halcyonproj\.dev/datacenter
      name: Datacenter
      type: string
    - jsonPath: .metadata.labels.topology\.halcyonproj\.dev/availability-zone
      name: Availability Zone
      type: string
    - jsonPath: .metadata.labels.topology\.halcyonproj\.dev/region
      name: Region
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PhysicalInterface is the Schema for the physicalinterfaces API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PhysicalInterfaceSpec defines the desired state of PhysicalInterface
            properties:
              device:
                properties:
                  refName:
                    type: string
                  type:
                    type: string
                type: object
              mac:
                type: string
            type: object
          status:
            description: PhysicalInterfaceStatus defines the observed state of PhysicalInterface
            properties:
              ipAddress:
                type: string
              macAddress:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
