---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: fabricclasses.halcyonproj.dev
spec:
  group: halcyonproj.dev
  names:
    kind: FabricClass
    listKind: FabricClassList
    plural: fabricclasses
    singular: fabricclass
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: FabricClass is the Schema for the fabricclasses API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: FabricClassSpec defines the desired state of FabricClass
            properties:
              configurationFrom:
                properties:
                  secretRef:
                    properties:
                      name:
                        type: string
                    required:
                    - name
                    type: object
                required:
                - secretRef
                type: object
            required:
            - configurationFrom
            type: object
          status:
            description: FabricClassStatus defines the observed state of FabricClass
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
