name: Sync labels
on:
  workflow_dispatch:

permissions:
  issues: write

jobs:
  labels:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          sparse-checkout: .github/labels.yaml

      - uses: EndBug/label-sync@26760db32aee156cab323d62cfcf90824b792844
        with:
          config-file: .github/labels.yaml
          delete-other-labels: true
